##**Cloth Company Problem**

In [9]:
import pandas as pd
from pandas import read_csv
import numpy as np
from numpy import array
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Company_Data (1).csv to Company_Data (1).csv

In [3]:
cloth=pd.read_csv('Company_Data (1).csv')
cloth.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [4]:
cloth=pd.get_dummies(cloth,columns=['ShelveLoc','Urban','US'])
cloth.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [5]:
cloth.shape

(400, 15)

In [6]:
cloth.insert(15,'sales_cat','')
cloth

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales_cat
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,0,1,0,0,1,0,1,
396,6.14,139,23,3,37,120,55,11,0,0,1,1,0,0,1,
397,7.41,162,26,12,368,159,40,18,0,0,1,0,1,0,1,
398,5.94,100,79,7,284,95,50,12,1,0,0,0,1,0,1,
399,9.71,134,37,0,27,120,49,16,0,1,0,0,1,0,1,

In [7]:
for i in range (0,len(cloth['Sales'])):
  if cloth['Sales'][i]>=0 and cloth['Sales'][i]<=6:
    cloth['sales_cat'][i]='bad'
  else:
    cloth['sales_cat'][i]='good'

<ipython-input-7-3c263106d776>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cloth['sales_cat'][i]='good'
<ipython-input-7-3c263106d776>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cloth['sales_cat'][i]='bad'

In [10]:
label_encoder=preprocessing.LabelEncoder()
cloth['sales_cat']=label_encoder.fit_transform(cloth['sales_cat'])
cloth.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes,sales_cat
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0,0

In [11]:
cloth=cloth.drop('Sales',axis=1)

In [13]:
cloth.shape

(400, 15)

In [21]:
import numpy as np
X=cloth.iloc[:,:-1]
Y=cloth.iloc[:,14]

In [25]:
num_trees=100
max_features=5
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

In [27]:
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.8225

In [28]:
results

array([0.8  , 0.875, 0.8  , 0.775, 0.85 , 0.825, 0.9  , 0.85 , 0.85 ,
       0.7  ])

#**Fraud Check**

In [29]:
from google.colab import files
uploaded=files.upload()

Saving Fraud_check.csv to Fraud_check.csv

In [30]:
frd=pd.read_csv('Fraud_check.csv')
frd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [31]:
frd.insert(6,'fraud_cat','')
frd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,fraud_cat
0,NO,Single,68833,50047,10,YES,
1,YES,Divorced,33700,134075,18,YES,
2,NO,Married,36925,160205,30,YES,
3,YES,Single,50190,193264,15,YES,
4,NO,Married,81002,27533,28,NO,

In [32]:
for i in range (0,len(frd['Taxable.Income'])):
  if frd['Taxable.Income'][i]<=30000:
    frd['fraud_cat'][i]='Risky'
  else:
    frd['fraud_cat'][i]='Good'

<ipython-input-32-45cacc4cd3a9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frd['fraud_cat'][i]='Good'
<ipython-input-32-45cacc4cd3a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frd['fraud_cat'][i]='Risky'

In [33]:
label_encoder=preprocessing.LabelEncoder()
frd['Undergrad']=label_encoder.fit_transform(frd['Undergrad'])
frd['Marital.Status']=label_encoder.fit_transform(frd['Marital.Status'])
frd['Urban']=label_encoder.fit_transform(frd['Urban'])
frd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,fraud_cat
0,0,2,68833,50047,10,1,Good
1,1,0,33700,134075,18,1,Good
2,0,1,36925,160205,30,1,Good
3,1,2,50190,193264,15,1,Good
4,0,1,81002,27533,28,0,Good

In [34]:
frd['fraud_cat']=label_encoder.fit_transform(frd['fraud_cat'])
frd.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,fraud_cat
0,0,2,68833,50047,10,1,0
1,1,0,33700,134075,18,1,0
2,0,1,36925,160205,30,1,0
3,1,2,50190,193264,15,1,0
4,0,1,81002,27533,28,0,0

In [35]:
frd.shape

(600, 7)

In [36]:
x=frd.iloc[:,:-1]
y=frd['fraud_cat']

In [37]:
num_trees=100
max_features=5
kfold=KFold(n_splits=10,random_state=7,shuffle=True)

In [38]:
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.9983333333333334

In [39]:
results

array([1.        , 1.        , 1.        , 1.        , 1.        ,
       0.98333333, 1.        , 1.        , 1.        , 1.        ])